/* CONTENTS
  Elements
  Navbar
  Jumbotron
  Cards, images, backgrounds, page components
  Buttons
  Underlines
  Home
  About
  Blog
  Services
  Footer
*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  /*font-size: 2.25rem;*/
  text-align: center;
}

h3 {
  /*font-size: 1.75rem;*/
  margin: 2% 0;
}

p {
  font-size: 1.1em;
}

li {
  font-size: 1.1em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a:link, a:visited {
  color: #3076e5;
  text-decoration: none;
}

a.dark-link, a.dark-link:visited {
  color: white;
  text-decoration: none;
}

a:hover, a.dark-link:hover {
  color: #f9ab18;
}

/* navbar - Bootstrap Navbar overrides */

.navbar-dark {
  font-family: 'Righteous';
  background-color: rgba(0, 0, 0, .75);
}

.nav-item {
  padding: 0 1.5rem;
  font-size: 1rem;
}

.navbar-dark .navbar-brand {
  color: #fff;
  text-decoration: none;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgb(249, 171, 24);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgb(249, 171, 24);
}

/* Bootstrap jumbotron */


.jumbo {
  background-image: url(https://i.imgur.com/ZF0I5c4.jpg);
  background-size: cover;
  background-position: center center;
  margin-bottom: 0;
}

.jumbo1 {
  /*width: 100%;*/
  background-image: url(https://i.imgur.com/ZF0I5c4.jpg);
  background-size: cover;
  background-position: center center;
  justify-content: center;
  padding: 12% 0 25% 0;
  margin-bottom: 0;
}

.jumbotron2 {
  height: 100%;
  width: 100%;
  background-image: url(https://i.imgur.com/93acVoz.jpg);
  background-size: cover;
  background-position: center center;
  justify-content: center;
  padding: 10%;
  border-bottom: 1px solid black;
  margin-bottom: 0;
}

.jumbo3 {
  background-image: url(https://i.imgur.com/ZF0I5c4.jpg);
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
}

/* MY CUSTOM CLASSES */

#banner {
  margin: 2rem;
}

.righteous {
  font-family: 'Righteous'
}

.card-sm {
  /*background-color: #3d3d3d;
  color: white;
  background-color: #efefef;*/
  box-shadow: 10px 10px 5px rgba(0,0,0,.1);
  margin: 1.25%;
  padding: .5em .9em .9em .9em;
  background-color: white;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.card-lg {
  /*background-color: #3d3d3d;
  color: white;
  background-color: #efefef;*/
  box-shadow: 10px 10px 7px rgba(0,0,0,.1);
  margin: 1.25%;
  padding: 2rem 2.5rem;
  background-color: white;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.card-lg-dark {
  background-color: #3d3d3d;
  color: white;
  /*background-color: #efefef;*/
  box-shadow: 10px 10px 7px rgba(0,0,0,.1);
  margin: 1.25%;
  padding: 2rem 2.5rem;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.img-home {
  margin-top: 1.5rem;
  height: 18rem;
  width: auto;
  display: block;
}

#bitmoji {
  height: 12em;
  width: auto;
}

.feature-text {
  margin: 3em 0;
  padding: 2%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(0,0,0,.5);
  color: white;
  font-family: 'Righteous',cursive;
  text-align: center;
}

.headline {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 5%;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, .75);
  color: white;
  font-family: 'Righteous',cursive;
  text-align: center;
}

.subhead {
  font-family: 'Raleway';
}

/* BACKGROUNDS */

.grey-background {
  /*background-color: #e8e8e8;*/
  background-image: url(https://i.imgur.com/FqSbDFm.jpg);
  background-size: cover;
  background-position: center center;
  padding: 1%;
}

.grey-background-2 {
  /*background-color: #5b5b5b;*/
  background-color: #e0e0e0;
  padding: 1%;
  margin: 0;
}

.grey-background-3 {
  background-color: #5b5b5b;
  padding: 1%;
  margin: 0;
}

.contact-background {
  background-image: url(https://i.imgur.com/zykL6QS.jpg);
  background-size: cover;
  background-position: center center;
}

.buffer {
  padding: 1em 0;
}

/* ICONS */
.icon-lg {
  font-size: 3em;
  margin: 0 .5em;
  color: white;
}

.icon-lg:hover,
.icon-sm:hover {
  color: #f9ab18;
}

.icon-sm {
  font-size: 1.5em;
  margin: 0 .5em;
  color: white;
}

/* BUTTON  OVERRIDES*/

.btn {
  font-family: 'Righteous'
}

.btn-primary {
  background-color: #000066;
  border: 1px solid black;
}
.btn-secondary {
  background-color: #8e8e8e;
}

.btn-secondary:hover, .btn-primary:hover {
  background-color: #f9ab18;
  border: 1px solid black;
}

.btn-green {
  color: #fff;
  background-color: #26734d;
}

.btn-green:hover {
  color: #fff;
  background-color: #339966;
}

.btn-orange {
  background-color: #f9ab18;
  color: white;
  border: 1px solid black;
}

.btn-orange:hover {
  background-color: #fbbf51;
}

.btn-blue {
  background-color: #000066;
}

.btn-blue:hover {
  background-color: #000099;
}


/* UNDERLINES */
.underline-red {
  height: .5em;
  width: 35%;
  background-color: #dc3545;
  margin-bottom: .5em
}
/* Green */
.green {
  border-top: 3px solid #26734d;
}

.underline-green {
  height: .5em;
  width: 35%;
  background-color: #26734d;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
}

/* Orange */
.orange {
  border-top: 3px solid #f9ab18;
}

.underline-orange {
  height: .5em;
  width: 35%;
  background-color: #f9ab18;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
}

/* Blue */
.blue {
  border-top: 3px solid #000066;
}

.underline-blue {
  height: .5em;
  width: 35%;
  background-color: #000066;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
}

/* Home page Content Box headers */
.dark {
  padding: .8rem 0;
  margin: .8rem 0;
  background-color: rgba(0,0,0,.8);
  font-family: 'Righteous';
  color: white;
  width: 100%;
  text-align: center;
}

.img-thumbnail {
  padding: .25rem;
  background-color: #383838;
}

.righteous {
  font-family: 'Righteous';
}


/* About Body */
.body-img {
  display: block;
  margin: 2.5rem auto 1rem auto;
  width: 70%;
  height: auto;
  border: 4px solid black;
}

.caption {
  font-size: 0.85rem;
  color: rgb(81, 81, 81);
  font-style: italic;
  text-align: center;
}

#about {
  padding: 3em 0;
}

/* blog body */

.date {
  font-size: .7em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

/* Services Body */
#content-box {
  background-color: #CAC6C3;
  padding: 1em .5em;
}

.portfolio {
  margin: 1em 0;
}

.img-small {
  margin: 0 0 1em 0;
  width: 100%;
  height: auto;
}

.section-accent {
  background-image: url(https://i.imgur.com/b1r9epz.jpg);
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 100%;
}

.left {
  text-align: left;
  align-items: left;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#testimonial {
  margin: 3em 0;
}

/* CONTACT BODY */
#contactBody {
  background: url(https://i.imgur.com/ZF0I5c4.jpg);
  background-size: cover;
  background-position: center;
}

/* footer */
footer {
  width: 100%;
  padding: 2em 20%;
  margin: 0;
  background-color: rgba(0,0,0, .8);
  color: white;
  line-height: 90%;
  text-align: center;
  }

  .footnote {
    font-size: .7em;
  }

/* PHOTO GALLERY */
.img-gallery {
  margin: 1em 2em;
  width: 100%;
  height: auto;
}
