{% extends "boilerplate_v2.njk" %}
{% set page_id = "about-page"%}
{% set page_stylesheet = "about.css" %}

  <!-- banner -->
 {% block banner %}
    <div class="banner d-flex" id="jumbo-about">
      <div class="mx-auto text-center banner-text-container flex-item">
        <h1 class="font-white righteous">Who I Am</h1>
        <p class="lead raleway font-white">Get to know <i>me</i>, not just my work</p>
      </div>
    </div>
{% endblock%}

{% block content %}

    <div class="grey-background-3">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 card card-lg orange-top">
            <h4><b>Hi, I'm Spencer,</b></h4>
            <p>I'm passionate, dedicated, and love to get things done. My approach to any project emphasizes quality, collaboration, and delivering meaningful results.</p>
            <p>I'm currently based in San Jose, CA with Epsilon Agency, building websites and emails for a variety of Google products.</p>
            <img class="img-fluid body-img" src="img/portrait.jpg">
            <p class="caption">Sailing the bay, San Francisco, CA</p>
          </div>

          <div class="col-lg-8 card card-lg orange-top">
            <h4><b>Out in the world</b></h4>
            <p>In my free time, you’ll find me out surfing, playing my guitar, or doodling in my sketchbook. I believe in constant improvement, and enjoy using my free time to create, learn, and grow. I love taking my camera out, honing my skills as a photographer as I capture shots of the city, nature, and whatever else catches my&nbsp;eye.</p>
            <p>Feel free to take a look at <a href="./public/gallery.html">my photo gallery</a> if you like.</p><p>What else? I take my coffee black. I love to cook. I've worked as a cheesemaker and zip line tour guide. Eventually, I’d like to travel to all 7 continents, and one day all the way up to the moon (one can dream right?).</p>
            <img class="img-fluid body-img" src="img/sunset.jpg">
            <p class="caption">The "Sunset District" Ocean Beach, San Francisco.</p>
          </div>

          <div class="col-lg-8 card card-lg orange-top">
            <h4><b>How did I get here?</b></h4>
            <p>Before coming to San Jose to join Epsilon's Dev team, I spent a few years as a Project Manager on our Client Services team. As a Project Manager, I worked closely with our clients to understand their needs and deliver results tailored to their business objectives. I'm grateful that I can integrate this client facing experience into my current work as a Developer by advising our PMs on technical matters, and bridging the gap between people in non-technical roles.</p>
            <p>Prior to Tech and Agency life, I spent 3 years in Santa Cruz, CA, working with a wonderful nonprofit- <a href="https://scvolunteercenter.org/">The Volunteer Center of Santa Cruz County</a>. I discovered the Volunteer Center through a position with <a href="https://www.nationalservice.gov/programs/americorps">Americorps</a>, a national service program, often colloquially referred to as <i>"the domestic Peace Corps"</i>. As an Americorps member, I focused on building organizational capacity by recruiting and engaging community volunteers in meaningful projects around the county.</p>
            <p>After completing my term of service wth Americorps, I accepted a position to stay with the Volunteer Center, and expand my work into event coordination, fundraising, and development. I had the privilege to partner with local government officials, business leaders, and dozens of talented community members to tackle a variety of social, environmental, and economic issues.</p>
            <p>All in all, my events raised <b>over $1,000,000 for more than 150 local nonprofit organizations.</b></p>
            <img class="img-fulid body-img" src="https://i.imgur.com/JiMATYz.jpg">
            <p class="caption">Serving the community with my team (top), County Supervisor John Leopold (bottom left), and Congressman Sam Farr (bottom right).</p>
          </div>

          <div class="col-lg-8 card card-lg orange-top">
            <h4><b>''Learn by Doing''</b></h4>
            <p>I graduated from Cal Poly  San Luis Obispo in 2014 with my B.S. in Kinesiology. As an undergrad, I served on the executive board of multiple student organizations including the Student Philanthropy Council and Interfraternity Council. Through my extracurricular involvement, I was able to act as a leader for student development, philanthropy, and volunteer efforts.</p>
            <p>Although my career took me a in different direction than my coursework, I enjoy using my understanding of exercise and diet to lead a healthy life, and applying the "Learn by Doing" motto to new challenges that come my way.<p>
            <img class="img-fluid body-img" src="https://i.imgur.com/BIz1IWM.jpg">
            <p class="caption">Graduation Day- Considering how much time I spent at the beach, the board shorts just seemed right</p>
            <div align="center">
              <a href="./services.html"><button class="btn btn-primary"><h4>Learn more about my work</h4></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
