{% extends "boilerplate_v2.njk" %}
{% set page_id = "about-page" %}
{% set page_stylesheet = "about" %}

{# === Contents === #}
{% set contents = 
  [
    {
      "headline": "Who am I?",
      "subhead": "At my core I am an artist — someone who is passionate, dedicated, and loves to create. I champion radical self expression, and cherish the process of developing mastery over a skill. Whether through language, music, visual mediums, or craftmanship, I love the practice of turning a pile of building blocks into something beautiful. I reach for the stars, and try to give my best to everything I do personally and professionally.",
      "img_src": "portrait.jpg",
      "caption": "Sailing the bay, San Francisco, CA",
      "copy_left": true
    },
    {
      "headline": "Out in the world",
      "subhead": "In my free time, you’ll find me out surfing, playing my guitar, or doodling in my sketchbook. I believe in constant improvement, and enjoy using my free time to create, learn, and grow. I love taking my camera out, honing my skills as a photographer as I capture shots of the city, nature, and whatever else catches my eye. <br><br> Feel free to take a look at my photos in my <a href=\"./public/gallery.html\">photo gallery</a> or&nbsp;<a href=\"https://instagram.com/spencer.pix\">Instagram</a>.",
      "img_src": "sunset.jpg",
      "caption": "The \"Sunset District\" Ocean Beach, San Francisco.",
      "copy_left": false
    },
    {
      "headline": "How did I get here?",
      "subhead": "Currently I'm based in Northern California as a Web Developer with <a href=\"https://www.hawkeyeagency.com/\">Hawkeye Agency</a>. Before becoming a Dev, I worked in Marketing, Project Management, and Nonprofit fundraising/event planning where I raised <b>over $1,000,000 for various nonprofit organizations.</b> I'm grateful that I can incorporate these diverse experiences into my current work by bridging the gap between Technical, Creative, and Business roles. My background has been a tremendous asset when it comes to communicating priorities across disiciplines, and facilitating balanced holistic solutions.",
      "img_src": "nonprofit.jpg",
      "caption": "Serving the community with my team (top), County Supervisor John Leopold (bottom left), and Congressman Sam Farr <span class=\"nowrap\">(bottom right).</span>",
      "copy_left": true
    },
    {
      "headline": "Learn by Doing",
      "subhead": "I graduated from Cal Poly San Luis Obispo with my B.S. in Kinesiology. As an undergrad, I served on the executive board of multiple student organizations including the Student Philanthropy Council and Interfraternity Council. Through my extracurricular involvement, I was able to act as a leader for student development, philanthropy, and volunteer efforts.<br><br> Although my career took me a in different direction than my coursework, I enjoy using my understanding of exercise and diet to lead a healthy life, and applying the \"Learn by Doing\" motto to new challenges that come my way.",
      "img_src": "graduation.jpg",
      "caption": "Graduation Day- Considering how much time I spent at the beach, the board shorts just seemed right",
      "copy_left": false
    }
  ]
%}

{# === Macro === #}
{% macro content_block(headline, subhead, img_src, caption, copy_left) %}
  {% set copy %}
    <h2 class="headline copy">{{ headline }}</h2>
    <p class="body copy">{{ subhead }}</p>
  {% endset %}

  {% set img %}
    <img src="img/{{ img_src }}" />
    <p class="caption">{{ caption|safe }}</p>
  {% endset %}

  <div class="content-block d-flex {% if copy_left == false %}stack-reverse{% endif %}" id="{{ id }}">
    <div class="column stack left">
      {% if copy_left == true %}
        {{ copy|safe }}
      {% else %}
        {{ img|safe }}
      {% endif %}
    </div>
    <div class="column stack right">
      {% if copy_left == true %}
        {{ img|safe }}
      {% else %}
        {{ copy|safe }}
      {% endif %}
    </div>
  </div>
{% endmacro %}


{# ==== Start page blocks === #}
{# Banner #}
{% block banner %}
  <div class="banner d-flex" id="jumbo-about">
    <div class="banner-text-container flex-item">
      <h1 class="font-white righteous headline">Who I Am</h1>
      <p class="lead raleway font-white subhead">Get to know <i>me</i>, not just my work</p>
    </div>
  </div>
{% endblock%}

{# Main Content #}
{% block content %}
  <section class="main-content">
    <img src="img/wave-divider-dark.svg" class="wave-divider top">

    {# Content blocks #}
    {% for item in contents %}
      {{ content_block(
        headline=item.headline,
        subhead=item.subhead|safe,
        img_src=item.img_src,
        copy_left=item.copy_left,
        caption=item.caption|safe
      )}}
    {% endfor %}

    {# Button #}
    <div class="center btn-container">
      <a href="./services.html">
        <button class="btn to-services btn-blue">
          <h4 class="righteous">Learn more about my work</h4>
        </button>
      </a>
    </div>
    <img src="img/wave-divider-dark.svg" class="wave-divider bottom">
  </section>
{% endblock %}
