{% extends "boilerplate_v2.njk" %}
{% set page_id = "contact"%}
{% set page_stylesheet = "contact.css" %}

{% block banner %}
  <div class="banner" id="contact-banner">
    <div class="banner-text-container">
      <h1 class="righteous copy headline">Get in Touch</h1>
      <h4 class="raleway copy subhead">Always open to collaboration and making connections</h4>
      <h4 class="raleway copy email">spencer@spencertakata.com</h4>
      <div class="icons">
        <a href="https://www.instagram.com/spencer.pix/"><i class="fab fa-instagram icon-lg"></i></a>
        <a href="https://www.linkedin.com/in/spencertakata"><i class="fab fa-linkedin-in icon-lg"></i></a>
        <a href="https://www.flickr.com/people/156465445@N07/"><i class="fab fa-flickr icon-lg"></i></a>
        <a href="https://github.com/spencertakata"><i class="fab fa-github-square icon-lg"></i></a>
      </div>
    </div>
  
    {# <div class="row justify-content-center">
      <div class="col-lg-8 col-xs-6 p-5 font-white bg-black-transparent" id="headlineContact">
        <h1 class="center righteous">Get in Touch</h1>
        <br>
        <h4 class="raleway d-none d-md-block">Always open to collaboration and making connections</h4>
        <br>
        <h4 class="raleway">spencer@spencertakata.com</h4>
        <br>
        <div class="icons">
          <a href="https://www.instagram.com/spencer.pix/"><i class="fab fa-instagram icon-lg"></i></a>
          <a href="https://www.linkedin.com/in/spencertakata"><i class="fab fa-linkedin-in icon-lg"></i></a>
          <a href="https://www.flickr.com/photos/156465445@N07/https://www.flickr.com/photos/156465445@N07/"><i class="fab fa-flickr icon-lg d-none d-md-inline"></i></a>
          <a href="https://github.com/spencertakata"><i class="fab fa-github-square icon-lg"></i></a>
        </div>
      </div>
    </div> #}
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
