{% extends "boilerplate_v2.njk" %}
{% set page_id = "gallery" %}
{% set page_stylesheet = "gallery.css" %}

{% set photoArr = [
    [
      ["img/snowboard-lg.jpg", "img/snowboard-sm.jpg"],
      ["img/surf-lg.jpg", "img/surf-sm.jpg"],
      ["img/graffiti-lg.jpg", "img/graffiti-sm.jpg"]
    ],
    [
      ["img/boat-lg.jpg", "img/boat-sm.jpg"],
      ["img/kona-lg.jpg", "img/kona-sm.jpg"],
      ["img/plant-fountain-lg.jpg", "img/plant-fountain-sm.jpg"]
    ],
        [
      ["img/bird-nest-lg.jpg", "img/bird-nest-sm.jpg"],
      ["img/rose-2-lg.jpg", "img/rose-2-sm.jpg"],
      ["img/ducks-2-lg.jpg", "img/ducks-2-sm.jpg"]
    ],
    [
      ["img/ginger-lg.jpg", "img/ginger-sm.jpg"],
      ["img/tahoe-stars-lg.jpg", "img/tahoe-stars-sm.jpg"],
      ["img/peacock-2-lg.jpg", "img/peacock-2-sm.jpg"]
    ],
    [
      ["img/lake-chain-lg.jpg", "img/lake-chain-sm.jpg"],
      ["img/kaya-lg.jpg", "img/kaya-sm.jpg"],
      ["img/lotus-lg.jpg", "img/lotus-sm.jpg"]
    ],
    [
      ["img/rose-lg.jpg", "img/rose-sm.jpg"],
      ["img/sf-lg.jpg", "img/sf-sm.jpg"],
      ["img/nola-band-lg.jpg", "img/nola-band-sm.jpg"]
    ],
    [
      ["img/shithead-lg.jpg", "img/shithead-sm.jpg"],
      ["img/chapel-lg.jpg", "img/chapel-sm.jpg"],
      ["img/squaw-exit-lg.jpg", "img/squaw-exit-sm.jpg"]
    ],
    [
      ["img/mountains-lg.jpg", "img/mountains-sm.jpg"],
      ["img/peacock-lg.jpg", "img/peacock-sm.jpg"],
      ["img/bucket-lg.jpg", "img/bucket-sm.jpg"]
    ],
    [
      ["img/reflection-lg.jpg", "img/reflection-sm.jpg"],
      ["img/church-lg.jpg", "img/church-sm.jpg"],
      ["img/johnson-lg.jpg", "img/johnson-sm.jpg"]
    ],
    [
      ["img/poppy-lg.jpg", "img/poppy-sm.jpg"],
      ["img/oxo-lg.jpg", "img/oxo-sm.jpg"],
      ["img/rain-glass-lg.jpg", "img/rain-glass-sm.jpg"]
    ],
    [
      ["img/tire-lg.jpg", "img/tire-sm.jpg"],
      ["img/pink-flowers-lg.jpg", "img/pink-flowers-sm.jpg"],
      ["img/papa-cool-lg.jpg", "img/papa-cool-sm.jpg"]
    ],
    [
      ["img/kush-lg.jpg", "img/kush-sm.jpg"],
      ["img/carlos-lg.jpg", "img/carlos-sm.jpg"],
      ["img/souls-lg.jpg", "img/souls-sm.jpg"]
    ],
    [
      ["img/sqauw-flare-lg.jpg", "img/squaw-flare-sm.jpg"],
      ["img/hydrant-2-lg.jpg", "img/hydrant-2-sm.jpg"],
      ["img/portland-lg.jpg", "img/portland-sm.jpg"]
    ],
    [
      ["img/lamp.jpg", "img/lamp-sm.jpg"],
      ["img/kona-neon-lg.jpg", "img/kona-neon-sm.jpg"],
      ["img/plant-lg.jpg", "img/plant-lg.jpg"]
    ],
    [
      ["img/duck-lg.jpg", "img/duck-sm.jpg"],
      ["img/mission-lg.jpg", "img/mission-sm.jpg"],
      ["img/hydrant-lg.jpg", "img/hydrant-sm.jpg"]
    ],
    [
      ["img/nola-night-lg.jpg", "img/nola-night-sm.jpg"],
      ["img/ny-graffiti-lg.jpg", "img/ny-graffiti-sm.jpg"],
      ["img/succulent-lg.jpg", "img/succulent-sm.jpg"]
    ]
  ]
%}


{% block banner %}  
  <div class="banner" id="gallery-banner">
    <div class="banner-text-container">
      <h1 class="righteous">Gallery</h1>
      <h4 class="raleway pb-3">A collection of my favorite photos</h4>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="gallery-body">
    <div class="container">
    {% for row in photoArr %}
      <div class="row">
        {{ macro.galleryImg(row[0][0], row[0][1]) }}
        {{ macro.galleryImg(row[1][0], row[1][1]) }}
        {{ macro.galleryImg(row[2][0], row[2][1]) }}
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
