{% extends "boilerplate_v2.njk" %}
{% set page_id = "gallery" %}
{% set page_stylesheet = "gallery" %}

{% set photoArr = [
    [
      ["img/snowboard-lg.jpg"],
      ["img/surf-lg.jpg"],
      ["img/graffiti-lg.jpg"]
    ],
    [
      ["img/boat-lg.jpg"],
      ["img/kona-neon-lg.jpg"],
      ["img/plant-fountain-lg.jpg"]
    ],
        [
      ["img/bird-nest-lg.jpg"],
      ["img/rose-2-lg.jpg"],
      ["img/ducks-2-lg.jpg"]
    ],
    [
      ["img/ginger-lg.jpg"],
      ["img/tahoe-stars-lg.jpg"],
      ["img/peacock-2-lg.jpg"]
    ],
    [
      ["img/lake-chain-lg.jpg"],
      ["img/kaya-lg.jpg"],
      ["img/lotus-lg.jpg"]
    ],
    [
      ["img/rose-lg.jpg"],
      ["img/sf-lg.jpg"],
      ["img/nola-band-lg.jpg"]
    ],
    [
      ["img/shithead-lg.jpg"],
      ["img/chapel-lg.jpg"],
      ["img/squaw-exit-lg.jpg"]
    ],
    [
      ["img/mountains-lg.jpg"],
      ["img/peacock-lg.jpg"],
      ["img/bucket-lg.jpg"]
    ],
    [
      ["img/reflection-lg.jpg"],
      ["img/church-lg.jpg"],
      ["img/johnson-lg.jpg"]
    ],
    [
      ["img/poppy-lg.jpg"],
      ["img/oxo-lg.jpg"],
      ["img/rain-glass-lg.jpg"]
    ],
    [
      ["img/tire-lg.jpg"],
      ["img/pink-flowers-lg.jpg"],
      ["img/papa-cool-lg.jpg"]
    ],
    [
      ["img/kush-lg.jpg"],
      ["img/carlos-lg.jpg"],
      ["img/souls-lg.jpg"]
    ],
    [
      ["img/squaw-flare-lg.jpg"],
      ["img/hydrant-2-lg.jpg"],
      ["img/succulent-lg.jpg"]
    ],
    [
      ["img/lamp-lg.jpg"],
      ["img/kona-lg.jpg"],
      ["img/plant-lg.jpg"]
    ],
    [
      ["img/duck-lg.jpg"],
      ["img/mission-lg.jpg"],
      ["img/nola-night-lg.jpg"]
    ]
  ]
%}


{% block banner %}  
  <div class="banner" id="gallery-banner">
    <div class="banner-text-container">
      <h1 class="righteous">Gallery</h1>
      <h4 class="raleway pb-3">A collection of my favorite photos</h4>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="gallery-body">
    <div class="container">
    {% for row in photoArr %}
      <div class="row">
        {{ macro.galleryImg(row[0][0]) }}
        {{ macro.galleryImg(row[1][0]) }}
        {{ macro.galleryImg(row[2][0]) }}
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
