{% extends "boilerplate.njk" %}

  <!-- banner -->
{% block banner %}
      <div class="jumbo jumbo-home justify-content-center" id="jumboHome">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 p-2 m-3 center font-white bg-black-transparent">
              <h1 class="righteous">Spencer Takata</h1>
              <h4 class="raleway d-none d-md-block">Project Manager // Web Developer // Digital Marketer</h4>
              <a href="#scroll" class="scrollTo"><i class="fas fa-angle-down icon-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}
  <!-- Headline -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12" id="scroll" align="center">
            <h3 class="p-4"><b>Hi I'm Spencer, and I want to help transform your <i>ideas</i> into <i>reality</i>.</b></h3>
            <div class="underline underline-orange"></div>
            <br>
            <h3>Based in San Francisco. Available worldwide</h3>
            <br>
            <img src="img/bitmoji.png" id="bitmoji">
          </div>
        </div>
        <br>
      </div>
      <br>

  <!-- 3 content boxes: who I am, what I do, contact -->

    <div class="grey-background justify-content-center">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-8 col-sm-8 col-xs-4 card card-sm p-x-3" align="center">
          <h4 class="dark righteous">Who I Am</h4>
          <p>Get to know <i>me</i>, not just my work. How I got here, where I want to go, what I love doing and why I love doing it.</p>
          <a href="./about.html"><button class="btn btn-primary">Read more</button></a>
          <div class="buffer"></div>
          <a href="./about.html">
            <img src="img/about-me-3.jpg" class="img-fluid img-thumbnail">
          </a>
        </div>

        <div class="col-lg-3 col-md-8 col-sm-8 col-xs-4 card card-sm" align="center">
          <h4 class="dark righteous">What I Do</h4>
          <p>Turn goals into results. I lead projects, develop websites, and build brands to help you reach your goals.</p>
          <a href="./services.html"><button class="btn btn-primary">See my work</button></a>
          <div class="buffer"></div>
          <a href="./services.html">
            <img src="img/hustle.jpg" class="img-fluid img-thumbnail">
          </a>
        </div>

        <div class="col-lg-3 col-md-8 col-sm-8 col-xs-4 card card-sm" align="center">
          <h4 class="dark righteous">How to Connect</h4>
          <p>Do you want to make something happen? I'd love to help. Let's connect and discover what we can accomplish.</p>
          <a href="./contact.html"><button class="btn btn-primary">Connect with me</button></a>
          <div class="buffer"></div>
          <a href="./contact.html">
            <img src="img/notepad.jpg" class="img-fluid img-thumbnail">
          </a>
        </div>
      </div>
    </div>
{% endblock %}
