{% extends 'boilerplate.njk' %}

{% block content %}
<!-- BODY -->
  <div class="center">
    <h1 class="title"><b>Movie Night</b></h1>
    <p class="body">Can't decide what to watch? Click below to get a random suggestion</p>
    <button type="button" id="randomMovie" class="btn btn-primary btn-large btn-blue">What should I watch?</button>
    <p id="output"></p>
  </div>
</div>
{% endblock %}
