{% extends 'boilerplate.njk' %}

{% block content %}
<!-- BODY -->
  <div class="center">
    <h1 class="title"><b>Movie Night</b></h1>
    <p class="body">Can't decide what to watch? Click below to get a random suggestion</p>
    <button type="button" id="randomMovie" class="btn btn-primary btn-large btn-blue">What should I watch?</button>
    <p id="output"></p>
  </div>
</div>
<script src="./movie-app/movie-script.js" type="text/javascript"></script>
{% endblock %}

{% block footer %}
<footer class="footer-movie">
    <div>
      <p><b>By Spencer Takata</b></p>
      <p>spencer@spencertakata.com</p>
      <div class="icons">
        <a href="https://www.instagram.com/spenstar123/"><i class="fab fa-instagram icon-sm"></i></a>
        <a href="https://www.linkedin.com/in/spencertakata"><i class="fab fa-linkedin-in icon-sm"></i></a>
        <a href="https://www.flickr.com/photos/156465445@N07/"><i class="fab fa-flickr icon-sm"></i></a>
        <a href="https://github.com/spencertakata"><i class="fab fa-github-square icon-sm"></i></a>
      </div>
      <br>
      <br>
      <p id="photo-cred"></p>
    </div>
</footer>
</div>

{% endblock %}
