{% extends "boilerplate.njk" %}

{% block banner %}
  <!-- BANNER -->
      <div class="jumbotron jumbo" id="jumboServices-v2">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col">
              <h1 class="py-1 font-white righteous">Front End Developer</h1>
              <p class="raleway font-white">Crafting beautiful websites for an exquisite user-experience</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ macro.spacer("py-2")}}
                <h4 class="font-teal-dark"><b>Web Development</b></h4>
                <p class="py-3">Build sleek, engaging, professional websites to define your brand and stand out from the competition.</p>
                {{ macro.spacer("py-3")}}
            </div>
        </div>
    </div>
{% endblock %}

<!--<div class="col-lg-6 col-sm-12 center p-5 bg-black font-white" id="web-dev">
    <i class="fas fa-code"></i>
    <h4><b>Web Development</b></h4>
    <div class="underline underline-orange"></div>
    <p class="py-3 px-5">Build sleek, engaging, professional websites to define your brand and stand out from the competition.</p>
    <a href="#webDev" class="scrollTo"><button type="button" class="btn btn-secondary btn-orange">Learn more</button></a>
</div>
<div class="col-lg-6 col-sm-12 center p-5" id="photography">
    <i class="fas fa-camera full-opacity"></i>
    <h4 class="full-opacity"><b>Photography</b></h4>
    <div class="underline bg-blue full-opacity"></div>
    <p class="py-3 px-5 full-opacity">I shoot people and sometimes cut off their head. Portraits, Products, Cities, and Nature. </p>
    <a href="#marketing" class="scrollTo full-opacity"><button type="button" class="btn btn-secondary btn-blue">Learn more</button></a>
</div> -->
