{% extends "boilerplate_v2.njk" %}
{% set page_id = "services-page"%}

{% block banner %}
  <!-- BANNER -->
      <div class="jumbotron jumbotron-fluid" id="jumbo-services">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col mx-auto text-center">
              <h1 class="py-1 font-white righteous">Front End Developer</h1>
              <p class="lead raleway font-white">Crafting beautiful websites for an exquisite user-experience</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}
    <div class="container web-dev-bio">
        <!-- Bio text -->
        <div class="row">
            <div class="col-lg-8 mx-auto text-left">
                <h3 class="font-teal-dark copy">Jack of all trades, Master of some</h3>
                <p class="copy">My philosophy towards my work emphasizes a <em>Jack of all trades, Master to <span class="font-teal-dark"><strong>some</strong></span></em> approach. As a Front End Developer, my purview includes working with designers to bring mockups to life, effectively integrating with backend arhitecture, understanding the product strategy, and of course, creating interfaces for the best user experience possible. </p>
                <p class="copy">While building websites and applications on the client side is my primary focus, I also maintain proficiency with Back End Principles, Creative Design Tools, Marketing and Project Management skills.</p>
            </div>
        </div>
        <!-- Row 1 -->
        <div class="row icon-row">
            <!-- Front end icons -->
            <div class="col-lg-8 mx-auto">
                <h4 class="font-teal-dark copy">Front End</h4>
                <div class="flex-container">
                    <div class="logo">
                        <img src="img/html.png" alt="hmtl logo" class="img-fluid">
                        <p>HTML</p>
                    </div>
                    <div class="logo">
                        <img src="img/css.png" alt="css logo" class="img-fluid">
                        <p>CSS</p>
                    </div>
                    <div class="logo">
                        <img src="img/javascript.png" alt="javascript logo" class="img-fluid">
                        <p>Javascript</p>
                    </div>
                    <div class="logo">
                        <img src="img/sass.png" alt="Sass logo" class="img-fluid">
                        <p>Sass</p>
                    </div>
                    <div class="logo">
                        <img src="img/amp.png" alt="Amp logo" class="img-fluid">
                        <p>AMP</p>
                    </div>
                    <div class="logo">
                        <img src="img/nunjucks.png" alt="Nunjucks logo" class="img-fluid">
                        <p>Nunjucks</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="row icon-row">
            <div class="col-lg-8 mx-auto">
                <!-- Nested container for responsive back end/creative layout -->
                <div class="container-fluid">
                    <div class="row">
                        <!-- Back end column -->
                        <div class="col-lg-6">
                            <h4 class="font-teal-dark">Back End</h4>
                            <div class="flex-container">
                                <div class="logo">
                                    <img src="img/python.png" alt="Python logo" class="img-fluid">
                                    <p>Python</p>
                                </div>
                                <div class="logo">
                                    <img src="img/node.png" alt="Node logo" class="img-fluid">
                                    <p>Node</p>
                                </div>
                                <div class="logo">
                                    <img src="img/mongo.png" alt="Mongo Database logo" class="img-fluid">
                                    <p>Mongo DB</p>
                                </div>
                            </div>
                        </div>
                        <!-- Creative column -->
                        <div class="col-lg-6">
                            <h4 class="font-teal-dark">Creative</h4>
                            <div class="flex-container">
                                <div class="logo">
                                    <img src="img/sketch.png" alt="Sketch logo" class="img-fluid">
                                    <p>Sketch</p>
                                </div>
                                <div class="logo">
                                    <img src="img/photoshop.png" alt="Photoshop logo" class="img-fluid">
                                    <p>Photoshop</p>
                                </div>
                                <div class="logo">
                                    <img src="img/lightroom.png" alt="Lightroom logo" class="img-fluid">
                                    <p>Lightroom</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
