body {
    color: #666;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mobile {
    display: none;
}

.bold {
    font-weight: bold;
}

.nav-item {
    font-size: 1.15rem;
    padding-right: .75rem;
    padding-left: .75rem;
}

.orange-bg {
    background-color: #f4911e;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
}

 .mobile-order {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0,0,0,.8);
}

.order-button {
    background-color: #28a745;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.subhead-blue {
    color: #155588;
}

.menu-item {
    color: #f4911e;
    font-weight: bold;
}
