<!-- Row 1 -->
    <div class="row my-4">
       <!-- {{ macro.galleryImg("img/lamp.jpg", "img/lamp-sm.jpg") }}
        {{ macro.galleryImg("img/surf-lg.jpg", "img/surf-sm.jpg") }}
        {{ macro.galleryImg("img/graffiti-lg.jpg", "img/graffiti-sm.jpg") }}
<!
          <div class="col-lg-4 col-sm-12">
            <a data-fancybox="gallery" href="img/lamp-lg.jpg">
              <img src="img/lamp-sm.jpg" class="img-fluid img-thumbnail img-gallery">
            </a>
          </div>
          <div class="col-lg-4 col-sm-12">
            <a data-fancybox="gallery" href="img/surf-lg.jpg">
              <img src="img/surf-sm.jpg" class="img-fluid img-thumbnail img-gallery">
            </a>
          </div>
          <div class="col-lg-4 col-sm-12">
            <a data-fancybox="gallery" href="img/graffiti-lg.jpg">
              <img src="img/graffiti-sm.jpg" class="img-fluid img-thumbnail img-gallery">
            </a>
          </div> -->
      </div>

<!-- Row 2 -->

    <div class="row my-4">
      <!--  {{ macro.galleryImg("img/boat-lg.jpg", "img/boat-sm.jpg") }}
        {{ macro.galleryImg("img/kona-lg.jpg", "img/kona-sm.jpg") }}
        {{ macro.galleryImg("img/plant-lg.jpg", "img/plant-sm.jpg") }}

        <!
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/boat-lg.jpg">
          <img src="img/boat-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/kona-lg.jpg">
          <img src="img/kona-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/plant-lg.jpg">
          <img src="img/plant-lg.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
    </div> -->
    </div>

<!-- Row 3 -->

    <div class="row my-4">
       <!-- {{ macro.galleryImg("img/rose-lg.jpg", "img/rose-sm.jpg") }}
        {{ macro.galleryImg("img/sf-lg.jpg", "img/sf-sm.jpg") }}
        {{ macro.galleryImg("img/duck-lg.jpg", "img/duck-sm.jpg") }}
        <!
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/rose-lg.jpg">
          <img src="img/rose-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/sf-lg.jpg">
          <img src="img/sf-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/duck-lg.jpg">
          <img src="img/duck-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
    </div> -->
    </div>

<!-- Row 4 -->

    <div class="row my-4">
       <!-- {{ macro.galleryImg("img/shithead-lg.jpg", "img/shithead-sm.jpg") }}
        {{ macro.galleryImg("img/chapel-lg.jpg", "img/chapel-sm.jpg") }}
        {{ macro.galleryImg("img/portland-lg.jpg", "img/portland=sm.jpg") }}
        <!
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/shithead-lg.jpg">
          <img src="img/shithead-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/portland-lg.jpg">
          <img src="img/portland-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/chapel-lg.jpg">
          <img src="img/chapel-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
    </div> -->
    </div>

<!-- Row 5 -->

    <div class="row my-4">
        <!-- {{ macro.galleryImg("img/mountains-lg.jpg", "img/mountains-sm.jpg") }}
        {{ macro.galleryImg("img/peacock-lg.jpg", "img/peacock-sm.jpg") }}
        {{ macro.galleryImg("img/bucket-lg.jpg", "img/bucket-sm.jps") }}
        <!
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/mountains-lg.jpg">
          <img src="img/mountains-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/peacock-lg.jpg">
          <img src="img/peacock-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/bucket-lg.jpg">
          <img src="img/bucket-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
    </div> -->
    </div>

<!-- Row 6 -->

    <div class="row my-4">
        <!-- {{ macro.galleryImg("img/reflection-lg.jpg", "img/reflection-sm.jpg")}}
        {{ macro.galleryImg("img/church-lg.jpg", "img/church-sm.jpg")}}
        {{ macro.galleryImg("img/hydrant-lg.jpg", "img/hydrant-sm.jpg")}}
        <!
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/reflection-lg.jpg">
          <img src="img/reflection-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/church-lg.jpg">
          <img src="img/church-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/hydrant-lg.jpg">
          <img src="img/hydrant-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
    </div> -->
    </div>

<!-- Row 7 -->

    <div class="row my-4">
        <!--{{ macro.galleryImg("img/ny-graffiti-lg.jpg", "img/ny-graffiti-sm.jpg")}}
        {{ macro.galleryImg("img/succulent-lg.jpg", "img/succulent-sm.jpg")}}
        {{ macro.galleryImg("img/mission-lg.jpg", "img.mission-sm.jpg")}}
        <!
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/ny-graffiti-lg.jpg">
          <img src="img/ny-graffiti-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/succulent-lg.jpg">
          <img src="img/succulent-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/mission-lg.jpg">
          <img src="img/mission-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
    </div> -->
    </div>

<!-- Row 8 -->

    <div class="row my-4">
       <!-- {{ macro.galleryImg("img/tire-lg.jpg", "img/tire-sm.jpg")}}
        {{ macro.galleryImg("img/carlos-lg.jpg", "img/carlos-sm.jpg")}}
        {{ macro.galleryImg("img/papa-cool-lg.jpg", "img/papa-cool-sm.jpg")}}
        <!
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/tire-lg.jpg">
          <img src="img/tire-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/carlos-lg.jpg">
          <img src="img/carlos-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/papa-cool-lg.jpg">
          <img src="img/papa-cool-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
    </div> -->
    </div>

    <!-- Row 9 test -->

    <div class="row my-4">
       <!-- {{ macro.galleryImg("img/kush-lg.jpg", "img/kush-sm.jpg")}}
        {{ macro.galleryImg("img/pink-flowers-lg.jpg", "img/pink-flowers-sm.jpg"))}}
        {{ macro.galleryImg("img/souls-lg.jpg", "img/souls-sm.jpg")}}
        <!
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/kush-lg.jpg">
          <img src="img/kush-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/pink-flowers-lg.jpg">
          <img src="img/pink-flowers-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/souls-lg.jpg">
          <img src="img/souls-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
    </div> -->
    </div>

     <!-- Row 10 -->

    <div class="row my-4">
        <!--{{ macro.galleryImg("squaw-exit-lg.png", "squaw-exit-sm.png")}}
        {{ macro.galleryImg("sqauw-flare-lg.png", "squaw-flare-sm.png")}}-->

        {{ macro.galleryImg("img/hydrant-2-lg.jpg", "img/hydrant-2-sm.jpg") }}
      <!-- <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="img/hydrant-2-lg.jpg">
          <img src="img/hydrant-2-sm.jpg" class="img-fluid img-thumbnail img-gallery">
        </a>
    </div> -->


    </div>
