// @use ./variables, ./typography
@use './_variables' as *
@use './_typography' as *

$block-1-color: #30044E
$block-2-color: #292929
$block-3-color: $pink-dark


// Banner
#jumbo-home
  //background-image: url(../img/calm-lake-lg-crop.jpg)
  background-image: url(../img/blue-pink-wave-dark.svg)
  background-position: 25% 50%

.banner
  height: 70vh
  .banner-text-container
    margin-top: 3rem
    padding: 1rem
    text-align: center

  .headline
    font-size: 12vw
  
  .subhead
    font-size: 1.75rem
  
  .icon-link
    display: none
  
  i
    display: none
    margin: 0.8rem 0 0 0
    animation: bounce 2s infinite
    font-size: 3.5rem
    &:hover
      color: $pink

// Content boxes section
.main-content
  .wave-divider
    width: 100%
    max-height: 50px
    &.top
      transform: rotate(180deg)
      background-color: $block-1-color
    &.bottom
      background-color: $block-3-color

  /* New stles */ 
  .d-flex
    flex-direction: column
    
    &.stack-reverse
      flex-direction: column-reverse

    .column
      width: 100%

  .content-block 
    padding: 4rem 1rem
    color: $white

    &#content-block-1
      background-color: $block-1-color 
      .btn:hover
        background-color: $pink 

    &#content-block-2
      background-color: $block-2-color
      .btn:hover
        background-color: $aqua-dark

    &#content-block-3
      background-color: $block-3-color
      .btn:hover
        background-color: $purple

    .headline
      font-size: 3.25rem

    .body, .btn
      font-size: 1.5rem
    
    .btn-container
      margin: 2rem auto 1.5rem
      .btn
        border: 2px solid $white
        box-shadow: 5px 5px $white
        color: $white
        &:active
          transform: translateY(4px)
          box-shadow: 2px 2px $white

    .img-container
      margin: 3rem 0
      img
        width: 100%
        border: 2px solid $white
        box-shadow: 5px 5px $white
    /* end new styles */

@media (min-width: 500px)
  .main-content
    .content-block
      padding: 4rem

@media (min-width: 600px)
  .banner
    padding: 0 4rem

    .banner-text-container
      width: 100%

    .headline
      font-size: 10vw

    .subhead
      font-size: 1.75rem

    .card-container
      padding: 1rem 4rem

@media (min-width: 768px)
  .banner
    padding: 0 6rem
    height: 60vh

    .banner-text-container
      padding: 1.5rem

    .headline
      font-size: 4rem

    .subhead
      font-size: 1.5rem
  
  .main-content
    .content-block
      padding: 4rem
        
@media (min-width: 992px)
  .banner
    .banner-text-container
      width: 60vw
      margin-right: 0
      margin-left: 0

    .subhead
      font-size: 20px

  .main-content
    .content-block
      padding: 3rem 6rem
      &.d-flex
        flex-direction: row

      .column
        width: 50%

      .copy-container
        &.left
          padding-right: 4rem
        &.right
          padding-left: 4rem

      .headline
        font-size: 3.5rem

      .body
        font-size: 1.75rem      
      
      .btn-container
        margin: 3rem 0 1.5rem
        
      .btn
        font-size: 2rem
      
      .img-container
        margin: 0
        
@media (min-width: 1220px)
  .banner
    height: 100vh
    padding: 0 8rem

    .banner-text-container
      margin-top: 7.5rem
      width: 65%

    .headline
      margin-bottom: 1rem
      font-size: 5rem

    .subhead
      font-size: 2rem

    .icon-link
      display: inline-block

    i
      display: block

  .main-content
    .content-block
      padding: 7rem 

    .copy-container
      &.left
        padding-right: 6rem
      &.right
        padding-left: 6rem 
    
@keyframes bounce 
  0%, 20%, 50%, 80%, 100%
    transform: translateY(0)
  40%
    transform: translateY(-20px)
  60%
    transform: translateY(-10px)
