@use './variables' as *
@use './typography' as *

/* === Global === */
html
  scroll-behavior: smooth

html, body
  margin: 0
  padding: 0
  font-family: $font-body

.flex-container
  display: flex
  
  &.flex-wrap
    flex-wrap: wrap

.desktop
  display: none !important

.nowrap
  white-space: nowrap

/* === Navbar === */
.navbar-dark
  background-color: $gray-dark

  .navbar-brand
    color: $white
    text-decoration: none

  .navbar-nav
    .nav-link
      color: $white
      text-decoration: none

.nav-item
  padding: 0 1.5rem
  font-size: 1rem

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus
  color: $orange

.nav-link
  &:active
    color: $orange

.desktop
  display: none

/* === Banner === */
.banner
  justify-content: center
  align-items: flex-start
  min-height: 350px
  //height: 100vh
  width: 100%
  background-size: cover
  background-position: center center

  .banner-text-container
    background-color: $black-transparent
    border: 1px solid $white
    border-radius: 0
    box-shadow: 5px 5px $white
    color: $white
    margin-top: 4rem
    text-align: center
    width: 90%
    padding: 1rem

    .headline
      font-size: 3.75rem
      line-height: 1.2

    .subhead
      font-size: 24px
      line-height: 1.5

/* === Buttons === */
.btn
  border-radius: 0

.btn-dark-outline
  border: 2px solid $white
  background-color: $black

.btn-blue
  background-color: $blue
  border-color: $black
  color: $white
  font-family: $righteous
  box-shadow: 4px 4px $black
  &:active
    transform: translateY(3px)
    box-shadow: 2px 3px $black
  &:hover
    background-color: $teal
    color: $black

/* === Design Utilities === */
.card
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.card.no-shadow
  box-shadow: none

.underline
  height: 0.5rem
  width: 65%
  margin: 0 auto 0.5rem

.underline-blue
  background-color: $primary-color

.underline-orange
  background-color: $orange

.bg-black-transparent
  background-color: $black-transparent

.bg-black
  background-color: $black

.bg-white
  background-color: $white

.bg-orange
  background-color: $orange

.bg-blue
  background-color: $blue

.primary-color
  color: $primary-color

//Icons & Images
.img-shrink
  margin-bottom: 1em
  width: 70%
  height: auto

.img-gallery
  margin: 1em 2em
  width: 100%
  height: auto
  margin: 1em auto

footer
  width: 100%
  padding: 2em 20%
  background-color: $black
  color: $white
  line-height: 90%
  text-align: center
  #photo-cred
    font-size: .75rem

.icon-sm
  font-size: 1.5em
  margin: 0 0.5em
  color: $white

.icon-lg
  font-size: 3em
  margin: 0 0.5em
  color: $white

.icon-lg:hover,
.icon-sm:hover
  color: $orange
  
.photo-cred
  font-size: 0.75rem

/* ========================= test ============================= */
@media (min-width: 767.98px)
  .mobile
    display: none !important
  .desktop
    display: initial !important
  /* ====== JUMBO ====== */
  .banner
    height: 70vh
    .banner-text-container
      margin-top: 6rem
      width: 70%
      padding: 1.25em
    h1
      font-size: 6rem
      line-height: 1.2
    .lead
      font-size: 1.5rem

    