/* Variables */
body {
  color: #141414;
}

h1, .h1 {
  font-size: 2.75rem;
}

h2, .h2 {
  font-size: 2.25rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.75rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1.25rem;
}

p, .p {
  font-size: 1.1rem;
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
}

.righteous {
  font-family: "Righteous", Palatino, Times, serif;
}

.raleway {
  font-family: "Lato", "Raleway", Verdana, Arial, sans-serif;
}

.font-white {
  color: #fff;
}

.font-blue {
  color: #3F37C9;
}

.font-blue-dark {
  color: #0069cb;
}

.nowrap {
  white-space: nowrap;
}

.headline.dark {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
}

a:link, a:visited {
  color: #3F37C9;
  text-decoration: none;
}

a.dark-link, a.dark-link:visited {
  color: #fff;
  text-decoration: underline;
}

a:hover, a.dark-link:hover {
  color: #9177e9;
}

.text-center {
  text-align: center;
}

#jumbo-home {
  background-image: url(../img/blue-pink-wave-dark.svg);
  background-position: 25% 50%;
}

.banner {
  height: 70vh;
  padding: 3rem 1rem 0;
}
.banner .banner-text-container {
  padding: 1rem;
  text-align: center;
}
.banner .headline {
  font-size: 12vw;
}
.banner .subhead {
  font-size: 1.75rem;
}
.banner .icon-link {
  display: none;
}
.banner i {
  display: none;
  margin: 0.8rem 0 0 0;
  animation: bounce 2s infinite;
  font-size: 3.5rem;
}
.banner i:hover {
  color: #F72585;
}

.main-content {
  /* New stles */ 
}
.main-content .wave-divider {
  width: 100%;
  max-height: 50px;
}
.main-content .wave-divider.top {
  transform: rotate(180deg);
  background-color: #30044E;
  margin-top: -1px;
}
.main-content .wave-divider.bottom {
  background-color: #36072F;
}
.main-content .d-flex {
  flex-direction: column;
}
.main-content .d-flex.stack-reverse {
  flex-direction: column-reverse;
}
.main-content .d-flex .column {
  width: 100%;
}
.main-content .content-block {
  padding: 4rem 1rem;
  color: #fff;
  /* end new styles */
}
.main-content .content-block#content-block-1 {
  background-color: #30044E;
}
.main-content .content-block#content-block-1 .btn:hover {
  background-color: #7209B7;
}
.main-content .content-block#content-block-2 {
  background-color: #292929;
}
.main-content .content-block#content-block-2 .btn:hover {
  background-color: #05B3B3;
}
.main-content .content-block#content-block-3 {
  background-color: #36072F;
}
.main-content .content-block#content-block-3 .btn:hover {
  background-color: #F72585;
}
.main-content .content-block .headline {
  font-size: 3.25rem;
}
.main-content .content-block .body, .main-content .content-block .btn {
  font-size: 1.5rem;
}
.main-content .content-block .btn-container {
  margin: 2rem auto 1.5rem;
}
.main-content .content-block .btn-container .btn {
  border: 2px solid #fff;
  box-shadow: 5px 5px #fff;
  color: #fff;
}
.main-content .content-block .btn-container .btn:active {
  transform: translateY(4px);
  box-shadow: 2px 2px #fff;
}
.main-content .content-block .img-container {
  margin: 3rem 0;
}
.main-content .content-block .img-container img {
  width: 100%;
  border: 2px solid #fff;
  box-shadow: 5px 5px #fff;
}

@media (min-width: 500px) {
  .main-content .content-block {
    padding: 4rem;
  }
}
@media (min-width: 600px) {
  .banner .headline {
    font-size: 10vw;
  }
  .banner .subhead {
    font-size: 1.75rem;
  }
  .banner .card-container {
    padding: 1rem 4rem;
  }
}
@media (min-width: 768px) {
  .banner {
    height: 60vh;
  }
  .banner .banner-text-container {
    padding: 1.5rem;
  }
  .banner .headline {
    font-size: 4rem;
  }
  .banner .subhead {
    font-size: 1.5rem;
  }

  .main-content .content-block {
    padding: 4rem;
  }
}
@media (min-width: 992px) {
  .banner .banner-text-container {
    padding: 1.5rem 2rem;
  }
  .banner .headline {
    font-size: 5.5rem;
  }
  .banner .subhead {
    font-size: 1.75rem;
  }

  .main-content .content-block {
    padding: 3rem 6rem;
  }
  .main-content .content-block.d-flex {
    flex-direction: row;
  }
  .main-content .content-block .column {
    width: 50%;
  }
  .main-content .content-block .copy-container.left {
    padding-right: 4rem;
  }
  .main-content .content-block .copy-container.right {
    padding-left: 4rem;
  }
  .main-content .content-block .headline {
    font-size: 3.5rem;
  }
  .main-content .content-block .body {
    font-size: 1.75rem;
  }
  .main-content .content-block .btn-container {
    margin: 3rem 0 1.5rem;
  }
  .main-content .content-block .btn {
    font-size: 2rem;
  }
  .main-content .content-block .img-container {
    margin: 0;
  }
}
@media (min-width: 1220px) {
  .banner {
    height: 100vh;
    padding: 5rem 1rem;
  }
  .banner .headline {
    margin-bottom: 1rem;
    font-size: 5rem;
  }
  .banner .subhead {
    font-size: 2rem;
  }
  .banner .icon-link {
    display: inline-block;
  }
  .banner i {
    display: block;
  }

  .main-content .content-block {
    padding: 7rem;
  }
  .main-content .copy-container.left {
    padding-right: 6rem;
  }
  .main-content .copy-container.right {
    padding-left: 6rem;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/*# sourceMappingURL=index.css.map */
