/* Variables */
body {
  color: #141414;
}

h1, .h1 {
  font-size: 2.75rem;
}

h2, .h2 {
  font-size: 2.25rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.75rem;
}

h5, .h5 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1.25rem;
}

p, .p {
  font-size: 1.1rem;
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
}

.righteous {
  font-family: "Righteous", Palatino, Times, serif;
}

.raleway {
  font-family: "Lato", "Raleway", Verdana, Arial, sans-serif;
}

.font-white {
  color: #fff;
}

.font-blue {
  color: #3F37C9;
}

.font-blue-dark {
  color: #0069cb;
}

.nowrap {
  white-space: nowrap;
}

.headline.dark {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
}

a:link, a:visited {
  color: #3F37C9;
  text-decoration: none;
}

a.dark-link, a.dark-link:visited {
  color: #fff;
  text-decoration: underline;
}

a:hover, a.dark-link:hover {
  color: #9177e9;
}

.text-center {
  text-align: center;
}

.wave-divider {
  width: 100%;
  max-height: 50px;
}
.wave-divider.top {
  transform: rotate(180deg);
  margin-top: -1px;
  background-color: #CCC;
}
.wave-divider.bottom {
  background-color: #CCC;
}

/* ====== INTRO BIO ====== */
#web-dev-bio {
  padding: 1rem;
  background-color: #CCC;
}
#web-dev-bio .headline {
  margin: 1rem 0;
  text-align: center;
}
#web-dev-bio .icon-rows {
  display: none;
}
#web-dev-bio .icon-container {
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}
#web-dev-bio .icon-container .logo {
  padding: 0.5rem;
  text-align: center;
}
#web-dev-bio .icon-container img {
  height: 50px;
  width: auto;
}
#web-dev-bio .caption {
  font-size: 0.9rem;
}

/* ====== PROCESS BOXES ====== */
#dev-process {
  background-color: #0a0a0a;
  color: #fff;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  padding: 0 1.5rem;
}
#dev-process .process-card {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 1rem 0;
}
#dev-process h3 {
  font-family: "Righteous", Palatino, Times, serif;
  margin-bottom: 0;
}
#dev-process .process-icon {
  width: 50px;
  text-align: center;
}
#dev-process i {
  font-size: 2.5rem;
  display: inline-block;
}
#dev-process p {
  margin-bottom: 0;
}

/* ====== PORTFOLIO ===== */
#portfolio {
  background-image: url(/img/tree-bg.jpg);
  background-size: 100%;
  padding: 3rem 0;
}
#portfolio #dev-title {
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
}
#portfolio #dev-title h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 3.25rem;
}
#portfolio #google-card .google-logo {
  width: 50%;
  margin-bottom: 1rem;
}
#portfolio #healthworker-card img {
  padding: 1em 0.5em 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
#portfolio .card {
  margin: 2.5em 0;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
  /* Hover effects */
  /* End hover effects */
}
#portfolio .card .card-title {
  text-transform: uppercase;
  font-weight: 700;
}
#portfolio .card .overlay-container {
  position: relative;
}
#portfolio .card img {
  display: block;
}
#portfolio .card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #7209B7;
}
#portfolio .card .overlay-container:hover .overlay {
  opacity: 1;
}
#portfolio .card .overlay-container:hover .overlay .text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transoform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ====== PM ====== */
#project-management-container {
  background-image: url(/img/ocean-overhead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 5px solid #0a0a0a;
  border-top: 5px solid #0a0a0a;
  padding: 3rem 0;
}
#project-management-container .headline {
  text-transform: uppercase;
}
#project-management-container .card {
  background-color: rgba(255, 255, 255, 0.85);
  color: #0a0a0a;
  border: 1px solid #0a0a0a;
  border-radius: 0px;
}
#project-management-container .pm-item {
  margin-bottom: 1rem;
}
#project-management-container .carousel .carousel-indicators {
  bottom: 190px;
}
#project-management-container .carousel .carousel-item img {
  margin: 0;
}
#project-management-container .carousel .carousel-item .text-container {
  padding: 0.5rem;
}
#project-management-container .carousel .carousel-control-prev, #project-management-container .carousel .carousel-control-next {
  opacity: 0.75;
  bottom: 30px;
}

/* ====== MARKETING ====== */
#marketing-container {
  background-image: url(/img/desert-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0;
}
#marketing-container .headline {
  font-size: 3rem;
  text-transform: uppercase;
}
#marketing-container .card {
  background-color: rgba(255, 255, 255, 0.85);
  color: #0a0a0a;
  border: 1px solid #0a0a0a;
  border-radius: 0px;
}
#marketing-container img.stock-img {
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  #web-dev-bio {
    padding: 1.5rem;
  }
  #web-dev-bio .icon-rows {
    display: block;
  }
  #web-dev-bio .all-icons {
    display: none;
  }
}
/* ========================================= TABLET ============================================== */
@media (min-width: 768px) {
  #web-dev-bio {
    padding: 2rem 3rem;
  }
  #web-dev-bio .headline {
    font-size: 2.5rem;
  }
  #web-dev-bio .body {
    font-size: 1.25rem;
  }
  #web-dev-bio .icon-container .logo {
    padding: 0.875rem;
  }
  #web-dev-bio .icon-container img {
    height: 60px;
  }

  /* ====== PROCESS ====== */
  #dev-process {
    padding: 2.125rem;
    flex-direction: row;
  }
  #dev-process .process-card {
    justify-content: initial;
    margin: 0;
  }
  #dev-process .process-card > div {
    margin: 0 auto;
  }
  #dev-process .process-icon {
    margin: 0 1rem;
  }
  #dev-process i {
    font-size: inherit;
  }

  #portfolio #dev-title h2 {
    text-align: center;
  }
  #portfolio #google-card .google-logo {
    width: 35%;
  }
}
/* ===================================================== DESKTOP ================================================== */  
@media (min-width: 992px) {
  /* ====== WEB BIO ====== */
  #web-dev-bio .copy-container, #web-dev-bio .icon-container {
    max-width: 800px;
    margin: 0 auto;
  }
  #web-dev-bio .headline {
    font-size: 3rem;
  }
  #web-dev-bio .body {
    font-size: 1.5rem;
  }
  #web-dev-bio .icon-container {
    justify-content: space-evenly;
  }
  #web-dev-bio .icon-container img {
    height: 65px;
  }

  #dev-process {
    padding: 2.125rem 12.5%;
  }

  /* ====== PORTFOLIO ====== */
  #portfolio {
    background-image: url(/img/tree-bg-landscape.jpg);
    padding: 6rem 0;
  }
  #portfolio #dev-title {
    margin: 0 auto 3rem;
    padding: 2rem;
    width: 80%;
  }
  #portfolio #dev-title h2 {
    text-align: center;
    font-size: 4rem;
  }
  #portfolio #dev-title p {
    font-size: 1.4rem;
  }
  #portfolio .card-container {
    display: flex;
    justify-content: space-evenly;
  }
  #portfolio .card {
    width: 100%;
    max-width: 330px;
    margin: 1rem;
    flex-grow: 2;
  }
  #portfolio #google-card .google-logo {
    margin: 0 auto 0.75rem;
    width: 50%;
  }
  #portfolio .card-title {
    text-align: center;
    font-size: 1.3rem;
  }

  #project-management-container {
    background-size: 100%;
  }

  #marketing-container {
    background-image: url(/img/desert-desktop.jpg);
    background-position: 50% 30%;
  }
  #marketing-container .card-body {
    flex-direction: row-reverse;
  }

  #project-management-container, #marketing-container {
    padding: 6rem 0;
  }
  #project-management-container .headline, #marketing-container .headline {
    font-size: 2.5rem;
  }
  #project-management-container .card-body, #marketing-container .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #project-management-container .desk-col, #marketing-container .desk-col {
    width: 47%;
  }
}

/*# sourceMappingURL=services.css.map */
