/* Variables */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", Verdana, Arial, sans-serif;
}

h1 {
  display: block;
  font-size: 3em;
  margin: 0.25em 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.75em;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h5 {
  display: block;
  font-weight: bold;
}

h6 {
  display: block;
  font-weight: bold;
}

p {
  font-size: 1.1em;
}

li {
  font-size: 1.1em;
}

.righteous {
  font-family: "Righteous", Palatino, Times, serif;
}

.raley {
  font-famiy: "Raleway", Verdana, Arial, sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a:link, a:visited {
  color: #3076e5;
  text-decoration: none;
}

a.dark-link, a.dark-link:visited {
  color: #fff;
  text-decoration: none;
}

a:hover, a.dark-link:hover {
  color: #f9ab18;
}

.subhead {
  font-family: "Raleway", Verdana, Arial, sans-serif;
}

.caption {
  font-size: 0.85rem;
  color: #515151;
  font-style: italic;
  text-align: center;
}

.date {
  font-size: 0.7em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.75);
}

.footnote {
  font-size: 0.7em;
}

.feature-text, .headline, #headlineContact {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color: #fff;
  font-family: "Righteous", Palatino, Times, serif;
  text-align: center;
}

.feature-text {
  margin: 3em 0;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.5);
}

.headline {
  padding: 2%;
  margin: 5%;
  background-color: rgba(0, 0, 0, 0.75);
}

#headlineContact {
  padding: 3em;
  margin: 10em 1em 0 1em;
  background-color: rgba(0, 0, 0, 0.75);
}

#testimonial {
  margin: 3em 0;
}

.home-mod-2 {
  padding-top: 45px;
  padding-bottom: 18px;
}

.left {
  text-align: left;
  align-items: left;
}

.center {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navbar-dark {
  font-family: "Righteous", Palatino, Times, serif;
  background-color: rgba(0, 0, 0, 0.75);
}
.navbar-dark .navbar-brand {
  color: #fff;
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-item {
  padding: 0 1.5rem;
  font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: #f9ab18;
}

.nav-link:active {
  color: #f9ab18;
}

.jumbo, .jumbo1, .jumbotron2, .jumbo3 {
  background-size: cover;
  background-position: center center;
  margin-bottom: 0;
}

.jumbo {
  background-image: url(../img/city.jpg);
}

.jumbo1 {
  justify-content: center;
  padding: 10% 0 25% 0;
}

.card-sm, .card-lg, .card-lg-dark {
  background-color: #fff;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

.card-sm {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 1.25%;
  padding: 0.5em 0.9em 0.9em 0.9em;
}

.card-lg {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.1);
  margin: 1.25%;
  padding: 2rem 2.5rem;
}

.card-lg-dark {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.1);
  margin: 1.25%;
  background-color: #3d3d3d;
}

.underline {
  height: 0.5em;
  width: 35%;
  margin: 0 auto 0.5em;
}

.red {
  border-top: 3px solid #dc3545;
}

.underline-red {
  background-color: #dc3545;
}

.green {
  border-top: 3px solid #26734d;
}

.underline-green {
  background-color: #26734d;
}

.orange {
  border-top: 3px solid #f9ab18;
}

.underline-orange {
  background-color: #f9ab18;
}

.blue {
  border-top: 3px solid #000066;
}

.underline-blue {
  background-color: #000066;
}

.dark {
  padding: 0.8rem 0;
  margin: 0.8rem 0;
  background-color: rgba(0, 0, 0, 0.75);
  font-family: "Righteous", Palatino, Times, serif;
  color: #fff;
  width: 100%;
  text-align: center;
}

#bitmoji {
  height: 12em;
  width: auto;
}

.icon-lg {
  font-size: 3em;
  margin: 0 0.5em;
  color: #fff;
}

.icon-lg:hover,
.icon-sm:hover {
  color: #f9ab18;
}

.icon-sm {
  font-size: 1.5em;
  margin: 0 0.5em;
  color: #fff;
}

.img-thumbnail {
  padding: 0.1em;
  background-color: #383838;
}

.body-img {
  display: block;
  margin: 2.5rem auto 1rem auto;
  width: 70%;
  height: auto;
  border: 4px solid black;
}

.grey-background, .grey-background-2, .grey-background-3, .contact-background {
  padding: 1%;
  margin: 0;
  background-size: cover;
  background-position: center center;
}

.grey-background {
  background-image: url(../img/grey-background.jpg);
}

.grey-background-2 {
  background-color: #e0e0e0;
}

.grey-background-3 {
  background-color: #5b5b5b;
}

#contactBody {
  background: url(../img/city.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.buffer {
  padding: 0.75em 0;
}

.btn {
  font-family: "Righteous", Palatino, Times, serif;
}

.btn-primary {
  background-color: #000066;
  border: 1px solid black;
}

.btn-secondary {
  background-color: #8e8e8e;
}

.btn-secondary:hover, .btn-primary:hover {
  background-color: #f9ab18;
  border: 1px solid black;
}

.btn-green {
  color: #fff;
  background-color: #26734d;
}
.btn-green:hover {
  color: #fff;
  background-color: #339966;
}

.btn-orange {
  background-color: #f9ab18;
  color: #fff;
  border: 1px solid black;
}
.btn-orange:hover {
  background-color: #fbbf51;
}

.btn-blue {
  background-color: #000066;
}
.btn-blue:hover {
  background-color: #000099;
}

footer {
  width: 100%;
  padding: 2em 20%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  line-height: 90%;
  text-align: center;
}

@media (max-width: 767.98px) {
  html {
    font-size: 0.8rem;
  }

  .img-shrink {
    margin-bottom: 1em;
    width: 70%;
    height: auto;
  }

  .img-gallery {
    margin: 1em 2em;
    width: 100%;
    height: auto;
    margin: 1em auto;
  }

  .card-sm {
    padding: 1em 4em 2em 4em;
    margin: 2em;
  }

  #testimonial {
    margin: 2em;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
