{% import "partials/macros.njk" as macro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>Spencer Takata</title>
    <!-- site metadata -->
    <meta name="description" content="Spencer Takata Portfolio">
    <meta name="author" content="Spencer Takata">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="./css/stylesheet_v2.css">
    <link rel="stylesheet" href="projects/to-do-app/assets/css/todo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./css/magnific-popup.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Righteous&display=swap&family=Roboto&display=swap" rel="stylesheet">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>
  {% block body %}
  <body>
      <div class="content-container" id="{{ page_id }}">
          {% block navbar %}
          <nav class="navbar navbar-expand-lg navbar-dark righteous">
              <a class="navbar-brand" href="./index.html">Spencer Takata</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="./about.html">Who I Am</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./services.html">What I Do</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./gallery.html">Photography</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./contact.html">Contact</a>
                  </li>
                </ul>
              </div>
            </nav>
        {% endblock %}

    {% block banner %}
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
        <footer>
            <div class="footer">
              <p><b>By Spencer Takata</b></p>
              <p>spencer@spencertakata.com</p>
              <div class="icons">
                <a href="https://www.instagram.com/spenstar123/"><i class="fab fa-instagram icon-sm"></i></a>
                <a href="https://www.linkedin.com/in/spencertakata"><i class="fab fa-linkedin-in icon-sm"></i></a>
                <a href="https://www.flickr.com/photos/156465445@N07/"><i class="fab fa-flickr icon-sm"></i></a>
                <a href="https://github.com/spencertakata"><i class="fab fa-github-square icon-sm"></i></a>
              </div>
              <br>
              <br>
              <p id="photo-cred"></p>
            </div>
        </footer>
    </div>

    {% endblock %}

    {% block bottom_scripts %}
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script>
          // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCZNrfbkbZ5UWh_uF0iFQkOzZWFJ1uSZuA",
            authDomain: "my-site-5311a.firebaseapp.com",
            databaseURL: "https://my-site-5311a.firebaseio.com",
            projectId: "my-site-5311a",
            storageBucket: "my-site-5311a.appspot.com",
            messagingSenderId: "824955399962"
          };
          firebase.initializeApp(config);
    </script>
    <!-- bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- My scripts -->
    <script src="js/myScripts.js"></script>
    <script type="text/javascript" src="projects/to-do-app/assets/js/todos.js"></script>
    <!-- Fancy Box -->
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    {% endblock %}
  </body>
  {% endblock %}
</html>
