body {
  margin: 0;
  font-family: 'Spectral', serif;
}

h1 {
  /*font-size: 3rem;*/
}

h2 {
  /*font-size: 2.25rem;*/
  text-align: center;
}

h3 {
  /*font-size: 1.75rem;*/
  margin: 2% 0;
}

h4 {
}

p {
  /*font-size: 1.5rem;*/
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.caption {
  font-size: 0.85rem;
  color: rgb(81, 81, 81);
  font-style: italic;
  text-align: center;
}

li {
  font-size: 1.5rem;
}

a:link, a:visited {
  color: red;
  text-decoration: underline;
}

a.dark-link, a.dark-link:visited {
  color: white;
  text-decoration: none;
}

a:hover, a.dark-link:hover {
  color: rgb(249, 171, 24);
}


/* navbar - Bootstrap Navbar overrides */

.navbar-dark {
  font-family: 'Righteous';
  background-color: rgba(0, 0, 0, .75);
}

.nav-item {
  padding: 0 2rem;
  font-size: 1rem;
}

.navbar-dark .navbar-brand {
  color: #fff;
  text-decoration: none;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgb(249, 171, 24);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgb(249, 171, 24);
}


/* Bootstrap jumbotron */

.jumbotron {
  height: 30%;
  width: 100%;
  background-image: url(http://i.imgur.com/naSXpb0.jpg);
  background-size: cover;
  background-position: center center;
  justify-content: center;
  padding: 15% 0;
  border-bottom: 1px solid black;
}

.jumbotron h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border: 1px solid black;
  background-color: rgba(0,0,0,.5);
  color: white;
  font-family: 'Righteous',cursive;
  text-align: center;
}

/* Home page Content Box headers */
.dark {
  padding: .8rem 0;
  margin: .8rem 0;
  background-color: rgba(0,0,0,.8);
  font-family: 'Righteous';
  color: white;
  width: 100%
}

/* blog body */
#blog-body {
  display: flex;
  flex-direction: row;
}

.main-column {
    width: 75%;
    padding: 0 20%;
  }

.side-bar {
  width: 25%;
  float: right;
  justify-content: center;
}

.date {
  font-size: .7em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

/* About Body */
.body-img {
  display: block;
  margin: 2.5rem auto 1rem auto;
  width: 70%;
  height: auto;
  border: 4px solid black;
}

/* Services Body */
#content-box {
  background-color: #CAC6C3;
  padding: 1em .5em;
}
/* footer */
footer {
  padding: 2em 20%;
  margin-top: 4em;
  background-color: rgba(0,0,0, .8);
  color: white;
  line-height: 90%;
  text-align: center;
  }
