body {
  margin: 0;
  font-family: 'Raleway', serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  /*font-size: 2.25rem;*/
  text-align: center;
}

h3 {
  /*font-size: 1.75rem;*/
  margin: 2% 0;
}

p {
  font-size: 1.1rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

li {
  font-size: 1.5rem;
}

a:link, a:visited {
  color: red;
  text-decoration: underline;
}

a.dark-link, a.dark-link:visited {
  color: white;
  text-decoration: none;
}

a:hover, a.dark-link:hover {
  color: #f9ab18;
}

#banner {
  margin: 2rem;
}
.righteous {
  font-family: 'Righteous'
}

.my-shadow {
  /*background-color: #3d3d3d;
  color: white;
  background-color: #efefef;*/
  box-shadow: 10px 10px 5px rgba(0,0,0,.1);
  margin: 1.25%;
  padding: .9rem;
  background-color: white;
}

.img-home {
  margin-top: 1.5rem;
  height: 18rem;
  width: auto;
  display: block;
}

.btn-primary {
  background-color: #66d1ff;
  color: black;
  border: 1px solid black;
}

.btn-secondary {
  font-family: 'Righteous';
  background-color: #8e8e8e;
}

.btn-secondary:hover {
  background-color: #66d1ff;
}
/* navbar - Bootstrap Navbar overrides */

.navbar-dark {
  font-family: 'Righteous';
  background-color: rgba(0, 0, 0, .75);
}

.nav-item {
  padding: 0 2rem;
  font-size: 1rem;
}

.navbar-dark .navbar-brand {
  color: #fff;
  text-decoration: none;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgb(249, 171, 24);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgb(249, 171, 24);
}

/* Bootstrap jumbotron */

.jumbotron {
  height: 30%;
  width: 100%;
  background-image: url(http://i.imgur.com/naSXpb0.jpg);
  background-size: cover;
  background-position: center center;
  justify-content: center;
  padding: 15% 0;
  border-bottom: 1px solid black;
}

.jumbotron h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 5%;
  border: 1px solid black;
  background-color: rgba(0,0,0,.5);
  color: white;
  font-family: 'Righteous',cursive;
  text-align: center;
}

.grey-background {
  background-color: #e8e8e8;
  padding: 1%;
}

/* Home page Content Box headers */
.dark {
  padding: .8rem 0;
  margin: .8rem 0;
  background-color: rgba(0,0,0,.8);
  font-family: 'Righteous';
  color: white;
  width: 100%
}

.img-thumbnail {
  padding: .25rem;
  background-color: #383838;
}

.righteous {
  font-family: 'Righteous';
}
/* About Body */
.body-img {
  display: block;
  margin: 2.5rem auto 1rem auto;
  width: 70%;
  height: auto;
  border: 4px solid black;
}

.caption {
  font-size: 0.85rem;
  color: rgb(81, 81, 81);
  font-style: italic;
  text-align: center;
}

/* blog body */
#blog-body {
  display: flex;
  flex-direction: row;
}

.main-column {
    width: 75%;
    padding: 0 20%;
  }

.side-bar {
  width: 25%;
  float: right;
  justify-content: center;
}

.date {
  font-size: .7em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

/* Services Body */
#content-box {
  background-color: #CAC6C3;
  padding: 1em .5em;
}

.portfolio {
  text-align: center;
  padding: 0 1em;
}

/* Purple */
.purple {
  border-top: 3px solid #7a66ff;
}

.underline-purple {
  height: .5em;
  width: 35%;
  background-color: #7a66ff;
  margin-bottom: .5em
}

.btn-purple:hover {
  color: #fff;
  background-color: #7a66ff;
}

/* Orange */
.orange {
  border-top: 3px solid #f9ab18;
}

.underline-orange {
  height: .5em;
  width: 35%;
  background-color: #f9ab18;
  margin-bottom: .5em
}

.btn-orange:hover {
  background-color: #f9ab18;
}

/* Blue */
.blue {
  border-top: 3px solid #66d1ff;
}

.underline-blue {
  height: .5em;
  width: 35%;
  background-color: #66d1ff;
  margin-bottom: .5em
}

.btn-blue:hover {
  background-color: #66d1ff;
}



/* footer */
footer {
  padding: 2em 20%;
  background-color: rgba(0,0,0, .8);
  color: white;
  line-height: 90%;
  text-align: center;
  }
