{% macro galleryImg(imgLg, imgSm, alt="") %}
  <div class="col-lg-4 col-sm-12">
    <a data-fancybox="gallery" href="{{ imgLg }}">
      <img src="{{ imgLg }}" class="img-fluid img-thumbnail img-gallery" alt="{{ alt }}" width="480" height="320" loading="lazy">
    </a>
  </div>
{% endmacro %}


{% macro go_back(id) %}
<div class="bg-black">
  <a href="../../service-v2.html#{{ id }}">
    <button class="btn btn-dark-outline righteous m-2" id="btn-go-back" type="button" name="button">&laquo; Go back</button>
  </a>
</div>
{% endmacro %}
