{% macro galleryImg(imgLg, imgSm) %}
    <div class="col-lg-4 col-sm-12">
        <a data-fancybox="gallery" href="{{ imgLg }}">
            <img src="{{ imgSm }}" class="img-fluid img-thumbnail img-gallery">
        </a>
    </div>
{% endmacro %}
