/* === About === */
#jumbo-about
  background-image: url(/img/about-banner.jpg)
  background-size: cover
  align-items: flex-start
  height: 70vw
  .banner-text-container
    //padding: 2rem 1.4rem
    background-color: rgba(0, 0, 0, .85)
    margin-top: 3rem
    padding: 1rem 1rem 1.5rem
    width: 90%
    .lead
      font-size: 18px
      margin: 0
    h1, p
      margin: 0

@media (min-width: 992px)
  #jumbo-about
    height: 50vh
    .banner-text-container
      width: 35%
      margin-top: 5rem
      h1
        font-size: 4rem
      p
        font-size: 22px
